<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ContosoConnection"
         providerName="System.Data.ProviderName"
         connectionString="Data Source=(localdb)\MSSQLLocalDb; AttachDbFilename=|DataDirectory|ContosoPets.mdf; Initial Catalog=ContosoPets; Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>